<div class="container">
  <%= render 'public/searches/form' %>
  <h2 class="text-light">フォロー中のユーザー</h2>
  <% if @users.exists? %>
    <%= render "public/users/list", users: @users %>
  <% else %>
    <p class="text-light pb-3">ユーザーはいません</p>
  <% end %>
</div>