<div class="container">
  
  <%= render 'searches/form' %>

  <% if notice %>
    <p class="notice text-light"><%= notice %></p>
  <% end %>
  <div class="row justify-content-center bg-white">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto text-left">
      <%= image_tag(asset_path('top_image.jpg'), class:"img-fluid mt-5") %>
      
      <div style="margin-top: 20px;"> 
　　    <h4 align="center">イマジナリーゲーム博物館へ<br>ようこそ！</h4>
　　
　　    <h5 align="center">架空のゲームの感想を投げ合う<br>集団幻覚サイト(制作中)</h5>
      </div>
      
    </div>
  </div>