<div class="container bg-white">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto text-left">
      <%= image_tag('top_image', class:"img-fluid") %>
     
  
      <div style="margin-top: 20px;"> 
　　    <h4 align="center">イマジナリーゲーム博物館へ<br>ようこそ！</h4>
　　
　　    <h5 align="center">架空のゲームの感想を投げ合う<br>集団幻覚サイト</h5>
      </div>
      
    </div>
  </div>
</div>