<div class="container pb-5">
  <%= render 'public/searches/form' %>
    <p class="text-light pt-3">タグ一覧</p>
    <h4>
      <% @all_tags.each do |tag| %>
        <%= link_to tag.name+"("+tag.games.count.to_s+")", search_path(word: tag.name, range: "Tag", search: 'perfect_match'), class: "badge badge-light" %>
      <% end %>
   </h4>
</div>