<div class="container">
  <p class="pt-3 text-light">"<%= @word %>"の検索結果一覧</p>
  <% if @range == 'user' %>
     <%= render 'users/index', users: @users %>
  <% else @range == 'game' %>
     <%= render 'games/list', games: @games %>
  <% end %>
</div>