<%= image_tag @detail.image, size: "200x200" %>

<%= @detail.sub_text %>

<div>
  <%= link_to edit_game_detail_path(@detail.game_id, @detail.id), class: 'btn btn-light btn-outline-dark' do %>
    詳細の編集
  <% end %>
</div>