<div class="row mb-5">
 <span class="border border-dark border-3 p-2 mr-3"><%= link_to 'ユーザー一覧へ', admin_dashboards_path %></span>
 <span class="border border-dark border-3 p-2 mr-3"><%= link_to 'ゲーム一覧へ', admin_game_dashboards_path %></span>
 <span class="border border-dark border-3 p-2 mr-3"><%= link_to '詳細一覧へ', admin_detail_dashboards_path %></span>
 <span class="border border-dark border-3 p-2"><%= link_to 'コメント一覧へ', admin_comment_dashboards_path %></span>
</div>